.App {
  text-align: center;
  height: 80ch;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.calc_button{
  border: 1px solid rgb(126, 124, 124);
  background-color: rgb(69, 68, 68);
  border-radius: 100%;
  width: 70%;

  display: grid;
  align-items: center;
  position: relative;
  left: 1.5ch;
}
.calc-op-button{
  width: 70%;
  display: grid;
  align-items: center;

  position: relative;
  left: 1.5ch;
  border-radius: 100%;
  border: 1px solid orange;
  background: linear-gradient(to top, rgba(255, 153, 0, 0.87), rgba(255, 153, 0, 0.606));
}
.calc-s-button{
  position: relative;
  left: 1.5ch;
  width: 70%;
  height: 100%;
  display: grid;

  align-items: center;
  border-radius: 100%;
  border: 1px solid grey;
  background: linear-gradient(to top, grey, rgb(76, 76, 76));
}

#button-grid{
  height: 80%;
  display: grid;
  position: relative;
  top: 2ch;
}
#calc-input{
  height: 15%;
  width: 75%;
  padding-right: 20%;
  position: relative;
  top: .5ch;
  left: 2%;
  display: flex;
  justify-content: end;
  align-items: center;
  border: 1px solid black;
  color: aliceblue;
  background: black;
  border-radius: 10vh;
  text-align: end;
  font-weight: 700;
  font-size: xx-large;
  overflow-x: hidden;
}
#calc-box{
  height: 70ch;
  width: 60ch;
  border-radius: 10vh;
  border: 2px solid rgb(110, 110, 110);
  background-color: rgb(17, 16, 16);

  align-self: center;
  color: aliceblue;
}
#calc-num{
  position: relative;
  top: 0.5ch;
  right: 2ch;
  font-size: 4ch;
}

#calc-button-box{
  position: relative;
  grid-row-start: 1;
  grid-row-end: 11;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: .5ch;
}

#zero{
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 8vh;
  width: 27ch;
}
